#Language: Cpp

BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Left

CommentPragmas: '(@copydoc)'
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BraceWrapping:
  AfterClass: true
BreakBeforeBraces: Allman
BreakStringLiterals: true
ColumnLimit: 140
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
DisableFormat: false
IncludeBlocks: Regroup
IncludeCategories:
- Regex: '*Config.*'
  Priority: 2
- Regex: 'ion/net/.*'
  Priority: 10 
- Regex: 'raknet/plus/.*'
  Priority: 10	
- Regex: 'raknet/.*'
  Priority: 10
- Regex: 'ion/arena/.*'
  Priority: 15
- Regex: 'ion/time/.*'
  Priority: 16 
- Regex: 'ion/container/.*'
  Priority: 20
- Regex: 'ion/debug/.*' 
  Priority: 21
- Regex: 'ion/memory/.*' 
  Priority: 22
- Regex: 'ion/concurrency/.*'
  Priority: 23
- Regex: 'ion/jobs/.*'
  Priority: 24
- Regex: 'ion/temporary/.*'
  Priority: 25  
- Regex: '*'
  Priority: 100

IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Latest
TabWidth: 4
UseTab: Always
