# Visual Studio
Debug/
Release/
x64/
.vs/
*.opensdf
*.sdf
*.user
*.suo
*.dll
*.pdb
*.idb
*.ilk
*.lib
*.exp
*_vc9.vcxproj
*_vc9.vcxproj.filters
*.db
*.opendb
*.vcxproj
*.vcxproj.filters
generated/

# Xcode and OS X 
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
contents.xcworkspacedata
.DS_Store
.Trashes

# Ignore build caches and artifacts
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Lib/LibStatic/CMakeScripts/
Lib/LibStatic/RakNetLibStatic.xcodeproj/
Lib/LibStatic/cmake_install.cmake
Lib/RakNetLibStatic/
Lib/cmake_install.cmake
RakNet.xcodeproj/
cmake_install.cmake
install_manifest.txt